
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Cataloger</h1>
      <p>This service helps you created metadata and tags for microscopy experiments</p>
      <p>We use <a href="https://bioportal.bioontology.org">
      Bioportal </a>to search for your annotation terms among common biological ontologies</p>
    </div>
</div>
<!-- /.jumbotron -->


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-play-circle"></i> How to use this site</h2>
      <p><a class="btn btn-outline-secondary"
      href={{ url_for('public.quick_start')}}> Read the quick start &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-outline-secondary">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
