{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h1> Quick start </h1>

      <h2> Cards and Annotations </h2>
      <p> This service helps you create and use <i class="fa
        fa-poll-h"></i> <b>cards</b> that
        correspond to a project, an experiment or a set of
        experiments. Each card has various <i class="fa
        fa-tags"></i> <b>annotations</b> for different
        categories:
        <ul style="line-height: 2.0">
          <li><i class="fa fa-bug"></i> <b>Organism</b>: fruit fly,
          Xenopus, human...
          </li>
          <li><i class="fa fa-flask"></i> <b>Sample</b>: a cell line,
          an organ, a tissue, an organelle ...
          </li>
          <li><i class="fa fa-cogs"></i> <b>Process</b>: mesoderm
          invagination, mitosis, aging ...
          </li>
          <li><i class="fas fa-microscope"></i> <b>Method</b>: laser ablation, FISH, RNAi ...
          </li>
          <li><i class="fas fa-dna"></i> <b>Gene</b>: alpha-tubulin, ROCK, Myosin II ...
          </li>
        </ul>
      </p>
      <p>Note that those categories are loosely defined, but each
      annotation will be tied to an entry in one of
      bioportal <b href="https://bioportal.bioontology.org/">ontologies</b>,
      so the vocabulary will be unequivocal</p>
    </div>
  </div>
  <div class="row">


  </div>
</div>
{% endblock %}
