{% extends "layout.html" %}
{% block content %}

<div class="p-4 mb-3 bg-light rounded-3">
  <div class="container-fluid py-6">
    <h3 class="display-4 fw-bold">Card edition form</h3>
    <p class="col-md-5 fs-4">
      Use the various menus to define you experiment.
      If you do not
      find a suitable entry, hit the <i class="fa fa-plus"></i> icon
      to search for a new term.
    </p>
    <p class="col-md-5 fs-4">
      You can put <b>#hashtags</b> in the <i class="fa fa-comment"></i>  section.
    </p>
  </div>
</div>

<form action=""
      class="form m-4 p-1"
      method="post"
      name="create_card">
  {{ form.csrf_token }}

  <div class="form-row" title="Something descriptive and specific">
    <div class="col-2">
      <label class="control-label mb-0">
        <b> Title </b>
      </label>
    </div>
    <div class="col-5">
      {{ form.title(placeholder="My experiment") }}
    </div>
  </div>
  <div class="form-row" title="hashtags will be imported as tags">
    <!-- Comment -->
    <div class="col-6">
      <label class="control-label mb-0">
        <h4><i class="fa fa-comment"></i> Experiment Description </h4>
      </label>
    </div>
  </div>
  <div class="form-row">
    <hr/>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      <i class="fa fa-cogs"></i> <b>Observed process</b>
    </div>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      {{
        form.comment.observing(cols="80", rows="3",
      placeholder="The process of interest in this experiment,\n
      e.g. #chromosome segregation errors during #anaphase ")
      }}
    </div>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      <i class="fa fa-vial"></i><b>Experimental conditions</b>
    </div>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      {{
        form.comment.conditions(cols="80", rows="3",
      placeholder="Treatement with drugs, fixation method, heatshock...\n
      e.g #nocodazole at 0.5 µM ")
      }}
    </div>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      <i class="fa fa-sticky-note"></i><b>Additional information</b>
    </div>
  </div>
  <div class="form-row" title="use #hashtags to register specific terms">
    <div class="col-6">
      {{
        form.comment.additional(cols="80", rows="3",
      placeholder="Anything that did not fit elsewhere")
      }}
    </div>
  </div>
  <div class="form-row">
    <hr/>
  </div>

  {% include "annotations/project_box.html" %}

  {% for key, selector in form.selectors.items() %}
  {% if not (key.startswith("gene") or key.startswith("marker")) %}
  {% include "annotations/selector_box.html" %}
  {% endif %}
  {% endfor %}
  <div class="form-row">
    <hr/>
  </div>
  <div class="form-row">
    <div class="col-6">
      <h4> <i class="fa fa-dna"></i><i class="fa fa-map-marker"></i>  Channels </h4>
    </div>
  </div>
  {% include "annotations/gene_mod_box.html" %}
  <div class="form-row">
    <hr/>
  </div>
  <div class="form-row">
    <div class="col-2">
      {{ form.add_gene_mod() }}
    </div>
    <div class="col-2">
      {% if form.select_gene_mods %}
      {{ form.remove_gene_mod() }}
      {% endif %}
    </div>
  </div>
  <div class="form-row">
    <hr/>
  </div>
  <div class="form-row">
    <h4>{{ form.save() }}</h4>
  </div>
  <div class="form-row">
      <a href={{ url_for("user.cards") }}>
        <button
          type="button"
          class="btn btn-light"
          style="width: 8rem;"
          title="Go home">
          <i class="fa fa-home"></i></button>
      </a>
  </div>
</form>
{% endblock %}
