{% block content %}
<div class="card shadow-sm" id="{{ card.id }}">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"> {{ card.project.name}} &mdash; {{ card.id }} </h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title"> {{ card.title }} </h1>
    <ul class="list-group list-group-flush mt-3 mb-4 text-left">
      <li class="list-group-item"><i class="fa fa-bug"></i> {{ card.organism.label }}
      </li>
      <li class="list-group-item"><i class="fa fa-flask"></i> {{ card.sample.label }}
      </li>
      <li class="list-group-item"><i class="fa fa-cogs"></i> {{ card.process.label }}
      </li>
      <li class="list-group-item"><i class="fa fa-tools"></i> {{ card.method.label }}
      </li>
      {% if card.comment %}
      <li class="list-group-item"><i class="fa fa-comment"></i> {{ card.html_comment | safe }}
      </li>
      {% endif %}
      {% for gene_mod in card.gene_mods %}
      <li class="list-group-item"><i class="fas fa-dna"></i><i class="fas fa-map-marker"></i> {{ gene_mod.label }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-footer text-muted">
    <div class="row row-cols-5">
      <div class="col">
        <a
          href={{ url_for('cards.download_card', card_id=card.id) }}
          target="blank"
        >
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
          style="width: 2.5rem;"
          title="Download card for annotation">
          <i class="fa fa-download" style="margin-left: -0.35rem;"></i>
        </button>
        </a>
      </div>
      <div class="col">
        <a href={{ url_for('cards.edit_card', card_id=card.id) }}>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            style="width: 2.5rem;"
            title="Edit this card">
          <i class="fa fa-edit" style="margin-left: -0.35rem;"></i>
          </button>
        </a>
      </div>
      <div class="col">
        <a
          href={{ url_for('cards.clone_card', card_id=card.id) }}
          target="blank"
        >
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
          style="width: 2.5rem;"
          title="Clone this card">
          <i class="fa fa-code-branch" style="margin-left: -0.35rem;"></i>
        </button>
        </a>
      </div>
      <div class="col">
        <a
          onclick="PrintDiv('{{ card.id }}')"
          target="blank">
        <button
          type="button"
          id="print"
          name="print"
          class="btn btn-lg btn-block btn-outline-primary"
          style="width: 2.5rem;"
          title="Print card for your notebook">
          <i class="fa fa-print" style="margin-left: -0.35rem;"></i>
        </button>
        <script>
          function PrintDiv(divName)
          {
              var printContents = document.getElementById(divName).innerHTML;
              var originalContents = document.body.innerHTML;
              document.body.innerHTML = printContents;
              window.print();
              document.body.innerHTML = originalContents;
          }
        </script>
        </a>
      </div>
      <div class="col">
        <a href={{ url_for('cards.delete_card', card_id=card.id) }}>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            style="width: 2.5rem;"
            onclick="return confirm('Are you sure you want to delete this card?')"
            title="Delete Card">
          <i class="fas fa-trash" style="margin-left: -0.35rem;"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
