{% block content %}
<div class="card mb-4 shadow-sm" style="min-width: 20rem;">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"> {{ card.id }} </h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title"> {{ card.title }} </h1>
    <ul class="list-group list-group-flush mt-3 mb-4 text-left">
      <li class="list-group-item"><i class="fa fa-bug"></i> {{ card.organism.label }}
      </li>
      <li class="list-group-item"><i class="fa fa-flask"></i> {{ card.sample.label }}
      </li>
      <li class="list-group-item"><i class="fa fa-cogs"></i> {{ card.process.label }}
      </li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div
        class="col"
        href={{ url_for('cards.download_card', card_id=card.id) }}
        target="blank">
        <button
          type="button"
          class="btn btn-lg btn-block btn-outline-primary"
          style="width: 5rem;"
          title="Download card for annotation">
          <i class="fa fa-download"></i>
        </button>
      </div>
      <div class="col">
        <a href={{ url_for('cards.edit_card', card_id=card.id) }}>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
            style="width: 5rem;"
            title="Edit Card">
          <i class="fa fa-edit"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
