{% if form.select_gene_mods %}
{% set entry0 = form.select_gene_mods.entries[0] %}

{% set gene_help =  entry0.select_gene.kls.help() %}
{% set gene_icon =  entry0.select_gene.kls.__icon__ %}
{% set gene_lbl =  entry0.select_gene.kls.__label__ %}
{% set marker_help =  entry0.select_marker.kls.help() %}
{% set marker_icon = entry0.select_marker.kls.__icon__ %}
{% set marker_lbl = entry0.select_marker.kls.__label__ %}

{% else %}
{% set gene_help =  "" %}
{% set gene_icon =  "" %}
{% set gene_lbl =  "" %}
{% set marker_help =  "" %}
{% set marker_icon =  "" %}
{% set marker_lbl =  "" %}

{% endif %}

<div class="form-row">
  <hr/>
</div>
<div class="form-row">
  <div class="col-1">
  </div>
  <div class="col-4">
    <label class="control-label mb-0" title="{{ gene_help }}">
      <i class="fa {{ gene_icon }}"></i> <b>{{ gene_lbl }}</b>
    </label>
  </div>
  <div class="col-4">
    <label class="control-label mb-0" title="{{ marker_help }}">
      <i class="fa {{ marker_icon }}"></i> <b>{{ marker_lbl }}</b>
    </label>
  </div>
</div>
<div class="form-row">
  <hr/>
</div>
{% for entry in form.select_gene_mods.entries %}
<div class="form-row">
  <div class="col-1">
    <b> Channel {{ loop.index }} </b>
  </div>
  <div class="col-3">
    {% if search == "gene_{}".format(loop.index - 1) %}
      {{ entry.select_gene.search() }}
    {% elif new == "gene_{}".format(loop.index - 1)  %}
      {{ entry.select_gene.select_new() }}
    {% else %}
      {{ entry.select_gene.select() }}
    {% endif %}
  </div>
  <div class="col-1">
    {% if search == "gene_{}".format(loop.index - 1) %}
    <a href={{ url_for("cards.edit_card", card_id=form.card_id, search=search) }}>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 4rem;"
        title="search">
        <i class="fa fa-search"></i></button>
    </a>
    {% elif new == "gene_{}".format(loop.index - 1) %}
    <a href={{ url_for("cards.edit_card", card_id=form.card_id, new=new) }}>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 4rem;"
        title="add term">
        <i class="fa fa-check"></i></button>
    </a>
    {% else %}
      {{ entry.select_gene.add() }}
    {% endif %}
  </div>
  <div class="col-3">
    {% if search == "marker_{}".format(loop.index - 1) %}
      {{ entry.select_marker.search() }}
    {% elif new == "marker_{}".format(loop.index - 1)  %}
      {{ entry.select_marker.select_new() }}
    {% else %}
      {{ entry.select_marker.select() }}
    {% endif %}
  </div>
  <div class="col-1">
    {% if search == "marker_{}".format(loop.index - 1) %}
    <a href={{ url_for("cards.edit_card", card_id=form.card_id, search=search) }}>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 4rem;"
        title="search">
        <i class="fa fa-search"></i></button>
    </a>
    {% elif new == "marker_{}".format(loop.index - 1) %}
    <a href={{ url_for("cards.edit_card", card_id=form.card_id, new=new) }}>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 4rem;"
        title="add term">
        <i class="fa fa-check"></i></button>
    </a>
    {% else %}
      {{ entry.select_marker.add() }}
    {% endif %}
  </div>
  <div class="col-1">
    {% if new and new.endswith("{}".format(loop.index - 1)) %}
     {{ form.cancel }}
    {% endif %}
  </div>
</div>
{% endfor %}
