{% if form.select_gene_mods %}
{% set entry0 = form.select_gene_mods.entries[0] %}

{% set gene_help =  entry0.select_gene.kls.help() %}
{% set gene_icon =  entry0.select_gene.kls.__icon__ %}
{% set gene_lbl =  entry0.select_gene.kls.__label__ %}
{% set marker_help =  entry0.select_marker.kls.help() %}
{% set marker_icon = entry0.select_marker.kls.__icon__ %}
{% set marker_lbl = entry0.select_marker.kls.__label__ %}

{% else %}
{% set gene_help =  "" %}
{% set gene_icon =  "" %}
{% set gene_lbl =  "" %}
{% set marker_help =  "" %}
{% set marker_icon =  "" %}
{% set marker_lbl =  "" %}

{% endif %}

<div class="form-row">
  <hr/>
</div>
<div class="form-row">
  <div class="col-2">
  </div>
  <div class="col-5">
    <label class="control-label mb-0" title="{{ gene_help }}">
      <i class="fa {{ gene_icon }}"></i> <b>{{ gene_lbl }}</b>
    </label>
  </div>
  <div class="col-5">
    <label class="control-label mb-0" title="{{ marker_help }}">
      <i class="fa {{ marker_icon }}"></i> <b>{{ marker_lbl }}</b>
    </label>
  </div>
</div>
<div class="form-row">
  <hr/>
</div>
{% for entry in form.select_gene_mods.entries %}
<div class="form-row">
  <div class="col-2">
    <b> Channel {{ loop.index }} </b>
  </div>
  {% with key = "gene_{}".format(loop.index - 1), selector = entry.select_gene %}
    {% include "annotations/selector_box.html" %}
  {% endwith %}
  {% with key = "marker_{}".format(loop.index - 1), selector = entry.select_marker %}
    {% include "annotations/selector_box.html" %}
  {% endwith %}

</div>
{% endfor %}
