
{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Create new {{ cls }}</h1>
</div>

<form action=""
      class="form m-2 p-3"
      method="post"
      name="create_annotation">
  <div class="row mt-2 align-self-end">
    {{ form.csrf_token }}
    <div class="col align-self-end">
      {{ form.select_term(class="form-control form-control-sm m-0") }}
    </div>
  </div>
  <div class="form-row">
    <a>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 8rem;"
        title="Save annotation">
        <i class="fa fa-check"></i>
    </a>
  </div>
</div>
</form>

{% endblock %}
