{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Create a new card</h1>
</div>

<form action=""
      class="form m-2 p-3"
      method="post"
      name="create_card">
  <div class="col-md-4">
    {{ form.csrf_token }}

    <!-- Title -->
    <div class="row mt-2">
      <label class="control-label mb-0">
        <b> Title </b>
      </label>
      {{ form.title(class="form-control form-control-sm m-2") }}
    </div>
    <div class="row mt-2">
      <label class="control-label mb-0">
        <i class="fa fa-bug"></i> <b>Organism</b>
      </label>
      <div class="col-6">
        {{ form.select_organism(class="form-control form-control-sm m-2") }}
      </div>
      <div class="col-1">
        <a href={{ url_for('cards.search_annotation', cls="organisms") }} target="blank">
          <button
            type="button"
            class="btn btn-light"
            style="width: 4rem;">
            <i class="fa fa-search"></i></button>
        </a>
      </div>
    </div>

    <!-- Sample -->
    <div class="row mt-2">
      <label class="control-label mb-0">
        <i class="fa fa-flask"></i> <b>Sample</b>
      </label>
      <div class="col-6">
        {{ form.select_sample(class="form-control form-control-sm m-2") }}
      </div>
      <div class="col-1">
        <a href={{ url_for('cards.search_annotation', cls="samples") }} target="blank">
          <button
            type="button"
            class="btn btn-light"
            style="width: 4rem;">
            <i class="fa fa-search"></i></button>
        </a>
      </div>
    </div>

    <!-- Process -->
    <div class="row mt-2">
      <label class="control-label mb-0">
        <i class="fa fa-cogs"></i> <b>Process</b>
      </label>
      <div class="col-6">
        {{ form.select_process(class="form-control form-control-sm m-2") }}
      </div>
      <div class="col-1">
        <a href={{ url_for('cards.search_annotation', cls="processes") }} target="blank">
          <button
            type="button"
            class="btn btn-light"
            style="width: 4rem;">
            <i class="fa fa-search"></i></button>
        </a>
      </div>
    </div>

    <!-- Marker -->
    <div class="row mt-2">
      <label class="control-label mb-0">
        <i class="fas fa-map-marker"></i> <b>Marker</b>
      </label>
      <div class="col-6">
      {{ form.select_marker(class="form-control form-control-sm m-2") }}
      </div>
      <div class="col-1">
        <a href={{ url_for('cards.search_annotation', cls="markers") }} target="blank">
          <button
            type="button"
            class="btn btn-light"
            style="width: 4rem;">
            <i class="fa fa-search"></i></button>
        </a>
      </div>
    </div>
    <div class="row mt-2">
      <label class="control-label mb-0">
        <i class="fa fa-check"></i>
      </label>
      {{ form.submit() }}
    </div>
  </div>
</form>

{% endblock %}
