{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Search for {{ cls }}</h1>
</div>

{% from "_formhelpers.html" import render_field %}

<form action=""
      class="form m-2 p-3"
      method="post"
      name="search_annotation">
  <div class="row mt-2 align-self-end">
    {{ form.csrf_token }}
    <div class="col">
      {{ form.search_term.label }}:
    </div>
    <div class="col">
      {{ form.search_term() }}
    </div>
    <div class="col">
    <a>
      <button
        type="submit"
        class="btn btn-light"
        style="width: 8rem;"
        title="Search">
        <i class="fa fa-search"></i>
    </a>
    </div>
  </div>
</form>

{% endblock %}
